/* Global styles */
h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

html {
    background-color: #F9EBEA;
}

body {
    padding: 0;
    margin: 0;
}

/* Main page styles */

h1 {
    padding-top: 10px;
    font-family: 'Abril Fatface', cursive;
    font-size: 3.5em;
    color: #0A6464;
    text-align: center;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    padding-top: 10px; 
    font-size: 2.7em;
    color: #2D9E9E;
    text-align: center;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    color: #0A6464;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5em;
    color: #2D9E9E;;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border-top: 3px double #E40A3F;
    width: 100%;
}

#intro p {
    text-align: center;
    font-size: 1.2em;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #033131;
}

.top-five {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.top-five h4 {
    text-align: center;
}

.top-five li {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6em;
    color: #033131;
}

a {
    color: #E40A3F;
    text-decoration: none;
    transition: color 0.5s; 
}

a:hover {
    color: #F3A9BB;
}


/* Image block styles */
.image-block {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.image-block .row{
    display: flex;
    flex-wrap: wrap;
}

.image-block .column{
    flex: 50%;
  }

.image-block .column img {
    width: 98%;
    padding: 1%;
}


/* Header styles */
header {
    height: 100px;
}

.left-side {
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    float: left;
}

.logo a{
    font-family: 'Bebas Neue', cursive;
    text-shadow: 3px 3px #2D9E9E;
    color: #E40A3F;
    font-size: 3.5em; 
    text-decoration: none;
}

.right-side {
    display: flex;
    float: right;
}

.nav-wrapper {
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    padding-right: 10px;
    list-style: none;
}

nav li {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    vertical-align: text-bottom;
}

nav a {
    float: left;
    display: block;
    font-size: 100%;
    color: #0A6464;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    transition: color 0.5s; 
}

nav a:hover {
    color: #E40A3F;
    border-bottom: 1px solid #E40A3F;
}

/* Footer Styles */
footer {
    background-color: #E40A3F;
    width: 100%;
    height: 45px;
}

footer p {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    vertical-align: middle;
    font-size: 1.4em;
    color: #FAF5F7;
    padding-top: 10px;
}

